.request-card-container {
    width: 100%;
    background-color: rgb(236, 236, 236);
    height: calc(100vh - 320px);
    overflow-y: scroll;
    padding: 20px;
    border-radius: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    .trade-request-card {
        width: 360px;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 240px;
        background-color: rgb(33, 121, 91);
        margin: 20px;
        padding: 30px;
        h2,
        h3,
        p {
            color: white;
            margin: 0px;
        }
        .request-image-container {
            height: 100px;
            img {
                height: 100%;
            }
        }
        .outgoing-request-card-1 {
            display: flex;
            justify-content: space-between;
            h2 {
                width: 200px;
            }
        }
        .outgoing-request-card-3 {
            display: flex;
            justify-content: space-between;
        }
    }
}
