/* UserProfilePage */
.user-profile-1 {
    border-bottom: 1px solid #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-profile-2 {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: end;

    button {
        background-color: gray;
        color: white;
    }
    button:hover {
        background-color: #b9b9b9;
        color: black;
    }
}

.user-profile-2 img {
    height: 100%;
}

.user-profile-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.user-profile-3 p {
    width: 500px;
}

.user-profile-2 {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.user-profile-2 > div {
    display: flex;
    align-items: flex-end;
}
.user-infos {
    display: flex;
    box-sizing: border-box;
    padding: 20px 0;
}
.user-infos > img {
    width: 200px;
    flex-shrink: 0;
    height: 200px;
    margin-right: 40px;
    border-radius: 10px;
}
.user-infos > div {
    flex: 1;
}
.user-infos .user-names {
    font-size: 28px;
    color: #000;
    margin-bottom: 16px;
    font-weight: 500;
}
.rich-rows {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}
.rich-rows > div {
    width: 45%;
    display: flex;
    align-items: center;
}
.set-line > div {
    width: 100% !important;
}
.rich-rows > div > img {
    width: 18px;
    height: 18px;
    margin-right: 6px;
}
.rich-rows > div > span {
    font-size: 16px;
    font-weight: 500;
    color: #333;
}
.rich-rows > div > div {
    color: #000;
    margin-left: 10px;
    font-size: 16px;
}
.profile-edit-btn {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 40px;
    display: flex;
    align-items: center;
}
.profile-edit-btn > img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.profile-edit-btn:hover {
    background-color: #45a049;
}

/* EditUserInfoFloating */
.floating-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.floating-form-container h1 {
    margin-top: 0;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.floating-form-container label {
    display: block;
    margin-bottom: 5px;
}

.floating-form-container input,
.floating-form-container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.floating-form-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.floating-form-container button[type="submit"] {
    background-color: #4caf50;
    color: #fff;
}

.floating-form-container button[type="submit"]:hover {
    background-color: #45a049;
}

.floating-form-container button:not([type="submit"]) {
    background-color: #eaeaea;
}

.floating-form-container button:not([type="submit"]):hover {
    background-color: #ccc;
}

.user-trade-history-text {
    margin-top: 0;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.user-trade-history-card-container {
    overflow-y: scroll;
    height: calc(100vh - 600px);
}

.trade-history-card {
    display: flex;
    height: 112px;
    /* background-color: rgb(236, 236, 236); */
    /* border-radius: 24px; */
    padding: 16px 24px;
    margin: 20px;
    border-bottom: 1px solid #e6e5e5;
}
.trade-history-card > img {
    height: 100%;
    width: 200px;
    margin-right: 40px;
    border-radius: 10px;
}
.card-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.card-box > div {
    width: 50%;
    display: flex;
    align-items: center;
}
.card-box > div > span {
    margin-right: 10px;
}

.trade-history-card p {
    margin: 6px;
    margin-bottom: 0px;
}

.trade-history-image-div {
    margin: 5px;
    height: 72px;
    img {
        height: 100%;
        border-radius: 8px;
    }
}
.trade-history-card-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.trade-history-card-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.trade-history-card-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
